# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# build artifacts
dist/
build/
doc/**/generated/

# build caches
.mypy_cache
.pytest_cache
.ruff_cache

# mujoco log
MUJOCO_LOG.TXT

# logfiles
console.log
