pages:
  stage: deploy
  image: $CI_REGISTRY/robocup-sim/rcssservermj/uhatch:24.04
  script:
    - hatch run doc:html
    - mkdir public
    - cp -r doc/build/html/* public/
  artifacts:
    paths:
      - public
  only:
    - master
